.row { display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }
.no-gutters { margin-right: 0; margin-left: 0; }
.no-gutters > .col, .no-gutters > [class*="col-"] { padding-right: 0; padding-left: 0; }
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto { position: relative; width: 100%; padding-right: 15px; padding-left: 15px; }
.col { max-width: 100%; }
.row-cols-1 > * { flex: 0 0 100%; max-width: 100%; }
.row-cols-2 > * { flex: 0 0 50%; max-width: 50%; }
.row-cols-3 > * { flex: 0 0 33.33333%; max-width: 33.33333%; }
.row-cols-4 > * { flex: 0 0 25%; max-width: 25%; }
.row-cols-5 > * { flex: 0 0 20%; max-width: 20%; }
.row-cols-6 > * { flex: 0 0 16.66667%; max-width: 16.66667%; }
.col-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
.col-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
.col-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
.col-3 { flex: 0 0 25%; max-width: 25%; }
.col-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
.col-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
.col-6 { flex: 0 0 50%; max-width: 50%; }
.col-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
.col-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
.col-9 { flex: 0 0 75%; max-width: 75%; }
.col-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
.col-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
.col-12 { flex: 0 0 100%; max-width: 100%; }

@media (min-width: 576px) { .col-sm { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .row-cols-sm-1 > * { flex: 0 0 100%; max-width: 100%; }
  .row-cols-sm-2 > * { flex: 0 0 50%; max-width: 50%; }
  .row-cols-sm-3 > * { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .row-cols-sm-4 > * { flex: 0 0 25%; max-width: 25%; }
  .row-cols-sm-5 > * { flex: 0 0 20%; max-width: 20%; }
  .row-cols-sm-6 > * { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-sm-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-sm-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-sm-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-sm-3 { flex: 0 0 25%; max-width: 25%; }
  .col-sm-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-sm-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-sm-6 { flex: 0 0 50%; max-width: 50%; }
  .col-sm-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-sm-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-sm-9 { flex: 0 0 75%; max-width: 75%; }
  .col-sm-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-sm-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
  .order-sm-first { order: -1; }
  .order-sm-last { order: 13; }
  .order-sm-0 { order: 0; }
  .order-sm-1 { order: 1; }
  .order-sm-2 { order: 2; }
  .order-sm-3 { order: 3; }
  .order-sm-4 { order: 4; }
  .order-sm-5 { order: 5; }
  .order-sm-6 { order: 6; }
  .order-sm-7 { order: 7; }
  .order-sm-8 { order: 8; }
  .order-sm-9 { order: 9; }
  .order-sm-10 { order: 10; }
  .order-sm-11 { order: 11; }
  .order-sm-12 { order: 12; }
  .offset-sm-0 { margin-left: 0; }
  .offset-sm-1 { margin-left: 8.33333%; }
  .offset-sm-2 { margin-left: 16.66667%; }
  .offset-sm-3 { margin-left: 25%; }
  .offset-sm-4 { margin-left: 33.33333%; }
  .offset-sm-5 { margin-left: 41.66667%; }
  .offset-sm-6 { margin-left: 50%; }
  .offset-sm-7 { margin-left: 58.33333%; }
  .offset-sm-8 { margin-left: 66.66667%; }
  .offset-sm-9 { margin-left: 75%; }
  .offset-sm-10 { margin-left: 83.33333%; }
  .offset-sm-11 { margin-left: 91.66667%; } }
@media (min-width: 768px) { 
  .col-md { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .row-cols-md-1 > * { flex: 0 0 100%; max-width: 100%; }
  .row-cols-md-2 > * { flex: 0 0 50%; max-width: 50%; }
  .row-cols-md-3 > * { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .row-cols-md-4 > * { flex: 0 0 25%; max-width: 25%; }
  .row-cols-md-5 > * { flex: 0 0 20%; max-width: 20%; }
  .row-cols-md-6 > * { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-md-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-md-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-md-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-md-3 { flex: 0 0 25%; max-width: 25%; }
  .col-md-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-md-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-md-6 { flex: 0 0 50%; max-width: 50%; }
  .col-md-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-md-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-md-9 { flex: 0 0 75%; max-width: 75%; }
  .col-md-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-md-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-md-12 { flex: 0 0 100%; max-width: 100%; }
  .order-md-first { order: -1; }
  .order-md-last { order: 13; }
}
@media (min-width: 992px) { .col-lg { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .row-cols-lg-1 > * { flex: 0 0 100%; max-width: 100%; }
  .row-cols-lg-2 > * { flex: 0 0 50%; max-width: 50%; }
  .row-cols-lg-3 > * { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .row-cols-lg-4 > * { flex: 0 0 25%; max-width: 25%; }
  .row-cols-lg-5 > * { flex: 0 0 20%; max-width: 20%; }
  .row-cols-lg-6 > * { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-lg-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-lg-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-lg-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
  .col-lg-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-lg-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-lg-6 { flex: 0 0 50%; max-width: 50%; }
  .col-lg-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-lg-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-lg-9 { flex: 0 0 75%; max-width: 75%; }
  .col-lg-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-lg-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-lg-12 { flex: 0 0 100%; max-width: 100%; }
  .order-lg-first { order: -1; }
  .order-lg-last { order: 13; }
}
@media (min-width: 1200px) { .col-xl { flex-basis: 0; flex-grow: 1; max-width: 100%; }
  .row-cols-xl-1 > * { flex: 0 0 100%; max-width: 100%; }
  .row-cols-xl-2 > * { flex: 0 0 50%; max-width: 50%; }
  .row-cols-xl-3 > * { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .row-cols-xl-4 > * { flex: 0 0 25%; max-width: 25%; }
  .row-cols-xl-5 > * { flex: 0 0 20%; max-width: 20%; }
  .row-cols-xl-6 > * { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-xl-auto { flex: 0 0 auto; width: auto; max-width: 100%; }
  .col-xl-1 { flex: 0 0 8.33333%; max-width: 8.33333%; }
  .col-xl-2 { flex: 0 0 16.66667%; max-width: 16.66667%; }
  .col-xl-3 { flex: 0 0 25%; max-width: 25%; }
  .col-xl-4 { flex: 0 0 33.33333%; max-width: 33.33333%; }
  .col-xl-5 { flex: 0 0 41.66667%; max-width: 41.66667%; }
  .col-xl-6 { flex: 0 0 50%; max-width: 50%; }
  .col-xl-7 { flex: 0 0 58.33333%; max-width: 58.33333%; }
  .col-xl-8 { flex: 0 0 66.66667%; max-width: 66.66667%; }
  .col-xl-9 { flex: 0 0 75%; max-width: 75%; }
  .col-xl-10 { flex: 0 0 83.33333%; max-width: 83.33333%; }
  .col-xl-11 { flex: 0 0 91.66667%; max-width: 91.66667%; }
  .col-xl-12 { flex: 0 0 100%; max-width: 100%; }
  .order-xl-first { order: -1; }
  .order-xl-last { order: 13; }
 }
.d-none { display: none; }
.d-inline { display: inline; }
.d-inline-block { display: inline-block; }
.d-block { display: block; }
.d-table { display: table; }
.d-table-row { display: table-row; }
.d-table-cell { display: table-cell; }
.d-flex { display: flex; }
.d-inline-flex { display: inline-flex; }
@media (min-width: 576px) { .d-sm-none { display: none; }
  .d-sm-inline { display: inline; }
  .d-sm-inline-block { display: inline-block; }
  .d-sm-block { display: block; }
  .d-sm-table { display: table; }
  .d-sm-table-row { display: table-row; }
  .d-sm-table-cell { display: table-cell; }
  .d-sm-flex { display: flex; }
  .d-sm-inline-flex { display: inline-flex; } }
@media (min-width: 768px) { .d-md-none { display: none; }
  .d-md-inline { display: inline; }
  .d-md-inline-block { display: inline-block; }
  .d-md-block { display: block; }
  .d-md-table { display: table; }
  .d-md-table-row { display: table-row; }
  .d-md-table-cell { display: table-cell; }
  .d-md-flex { display: flex; }
  .d-md-inline-flex { display: inline-flex; } }
@media (min-width: 992px) { .d-lg-none { display: none; }
  .d-lg-inline { display: inline; }
  .d-lg-inline-block { display: inline-block; }
  .d-lg-block { display: block; }
  .d-lg-table { display: table; }
  .d-lg-table-row { display: table-row; }
  .d-lg-table-cell { display: table-cell; }
  .d-lg-flex { display: flex; }
  .d-lg-inline-flex { display: inline-flex; } }
@media (min-width: 1200px) { .d-xl-none { display: none; }
  .d-xl-inline { display: inline; }
  .d-xl-inline-block { display: inline-block; }
  .d-xl-block { display: block; }
  .d-xl-table { display: table; }
  .d-xl-table-row { display: table-row; }
  .d-xl-table-cell { display: table-cell; }
  .d-xl-flex { display: flex; }
  .d-xl-inline-flex { display: inline-flex; } }
@media print { .d-print-none { display: none; }
  .d-print-inline { display: inline; }
  .d-print-inline-block { display: inline-block; }
  .d-print-block { display: block; }
  .d-print-table { display: table; }
  .d-print-table-row { display: table-row; }
  .d-print-table-cell { display: table-cell; }
  .d-print-flex { display: flex; }
  .d-print-inline-flex { display: inline-flex; } }
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-row-reverse { flex-direction: row-reverse; }
.flex-column-reverse { flex-direction: column-reverse; }
.flex-wrap { flex-wrap: wrap; }
.flex-nowrap { flex-wrap: nowrap; }
.flex-wrap-reverse { flex-wrap: wrap-reverse; }
.flex-fill { flex: 1 1 auto; }
.flex-grow-0 { flex-grow: 0; }
.flex-grow-1 { flex-grow: 1; }
.flex-shrink-0 { flex-shrink: 0; }
.flex-shrink-1 { flex-shrink: 1; }
.justify-content-start { justify-content: flex-start; }
.justify-content-end { justify-content: flex-end; }
.justify-content-center { justify-content: center; }
.justify-content-between { justify-content: space-between; }
.justify-content-around { justify-content: space-around; }
.align-items-start { align-items: flex-start; }
.align-items-end { align-items: flex-end; }
.align-items-center { align-items: center; }
.align-items-baseline { align-items: baseline; }
.align-items-stretch { align-items: stretch; }
.align-content-start { align-content: flex-start; }
.align-content-end { align-content: flex-end; }
.align-content-center { align-content: center; }
.align-content-between { align-content: space-between; }
.align-content-around { align-content: space-around; }
.align-content-stretch { align-content: stretch; }
.align-self-auto { align-self: auto; }
.align-self-start { align-self: flex-start; }
.align-self-end { align-self: flex-end; }
.align-self-center { align-self: center; }
.align-self-baseline { align-self: baseline; }
.align-self-stretch { align-self: stretch; }
@media (min-width: 576px) { .flex-sm-row { flex-direction: row; }
  .flex-sm-column { flex-direction: column; }
  .flex-sm-row-reverse { flex-direction: row-reverse; }
  .flex-sm-column-reverse { flex-direction: column-reverse; }
  .flex-sm-wrap { flex-wrap: wrap; }
  .flex-sm-nowrap { flex-wrap: nowrap; }
  .flex-sm-wrap-reverse { flex-wrap: wrap-reverse; }
  .flex-sm-fill { flex: 1 1 auto; }
  .flex-sm-grow-0 { flex-grow: 0; }
  .flex-sm-grow-1 { flex-grow: 1; }
  .flex-sm-shrink-0 { flex-shrink: 0; }
  .flex-sm-shrink-1 { flex-shrink: 1; }
  .justify-content-sm-start { justify-content: flex-start; }
  .justify-content-sm-end { justify-content: flex-end; }
  .justify-content-sm-center { justify-content: center; }
  .justify-content-sm-between { justify-content: space-between; }
  .justify-content-sm-around { justify-content: space-around; }
  .align-items-sm-start { align-items: flex-start; }
  .align-items-sm-end { align-items: flex-end; }
  .align-items-sm-center { align-items: center; }
  .align-items-sm-baseline { align-items: baseline; }
  .align-items-sm-stretch { align-items: stretch; }
  .align-content-sm-start { align-content: flex-start; }
  .align-content-sm-end { align-content: flex-end; }
  .align-content-sm-center { align-content: center; }
  .align-content-sm-between { align-content: space-between; }
  .align-content-sm-around { align-content: space-around; }
  .align-content-sm-stretch { align-content: stretch; }
  .align-self-sm-auto { align-self: auto; }
  .align-self-sm-start { align-self: flex-start; }
  .align-self-sm-end { align-self: flex-end; }
  .align-self-sm-center { align-self: center; }
  .align-self-sm-baseline { align-self: baseline; }
  .align-self-sm-stretch { align-self: stretch; } }
@media (min-width: 768px) { .flex-md-row { flex-direction: row; }
  .flex-md-column { flex-direction: column; }
  .flex-md-row-reverse { flex-direction: row-reverse; }
  .flex-md-column-reverse { flex-direction: column-reverse; }
  .flex-md-wrap { flex-wrap: wrap; }
  .flex-md-nowrap { flex-wrap: nowrap; }
  .flex-md-wrap-reverse { flex-wrap: wrap-reverse; }
  .flex-md-fill { flex: 1 1 auto; }
  .flex-md-grow-0 { flex-grow: 0; }
  .flex-md-grow-1 { flex-grow: 1; }
  .flex-md-shrink-0 { flex-shrink: 0; }
  .flex-md-shrink-1 { flex-shrink: 1; }
  .justify-content-md-start { justify-content: flex-start; }
  .justify-content-md-end { justify-content: flex-end; }
  .justify-content-md-center { justify-content: center; }
  .justify-content-md-between { justify-content: space-between; }
  .justify-content-md-around { justify-content: space-around; }
  .align-items-md-start { align-items: flex-start; }
  .align-items-md-end { align-items: flex-end; }
  .align-items-md-center { align-items: center; }
  .align-items-md-baseline { align-items: baseline; }
  .align-items-md-stretch { align-items: stretch; }
  .align-content-md-start { align-content: flex-start; }
  .align-content-md-end { align-content: flex-end; }
  .align-content-md-center { align-content: center; }
  .align-content-md-between { align-content: space-between; }
  .align-content-md-around { align-content: space-around; }
  .align-content-md-stretch { align-content: stretch; }
  .align-self-md-auto { align-self: auto; }
  .align-self-md-start { align-self: flex-start; }
  .align-self-md-end { align-self: flex-end; }
  .align-self-md-center { align-self: center; }
  .align-self-md-baseline { align-self: baseline; }
  .align-self-md-stretch { align-self: stretch; } }
@media (min-width: 992px) { .flex-lg-row { flex-direction: row; }
  .flex-lg-column { flex-direction: column; }
  .flex-lg-row-reverse { flex-direction: row-reverse; }
  .flex-lg-column-reverse { flex-direction: column-reverse; }
  .flex-lg-wrap { flex-wrap: wrap; }
  .flex-lg-nowrap { flex-wrap: nowrap; }
  .flex-lg-wrap-reverse { flex-wrap: wrap-reverse; }
  .flex-lg-fill { flex: 1 1 auto; }
  .flex-lg-grow-0 { flex-grow: 0; }
  .flex-lg-grow-1 { flex-grow: 1; }
  .flex-lg-shrink-0 { flex-shrink: 0; }
  .flex-lg-shrink-1 { flex-shrink: 1; }
  .justify-content-lg-start { justify-content: flex-start; }
  .justify-content-lg-end { justify-content: flex-end; }
  .justify-content-lg-center { justify-content: center; }
  .justify-content-lg-between { justify-content: space-between; }
  .justify-content-lg-around { justify-content: space-around; }
  .align-items-lg-start { align-items: flex-start; }
  .align-items-lg-end { align-items: flex-end; }
  .align-items-lg-center { align-items: center; }
  .align-items-lg-baseline { align-items: baseline; }
  .align-items-lg-stretch { align-items: stretch; }
  .align-content-lg-start { align-content: flex-start; }
  .align-content-lg-end { align-content: flex-end; }
  .align-content-lg-center { align-content: center; }
  .align-content-lg-between { align-content: space-between; }
  .align-content-lg-around { align-content: space-around; }
  .align-content-lg-stretch { align-content: stretch; }
  .align-self-lg-auto { align-self: auto; }
  .align-self-lg-start { align-self: flex-start; }
  .align-self-lg-end { align-self: flex-end; }
  .align-self-lg-center { align-self: center; }
  .align-self-lg-baseline { align-self: baseline; }
  .align-self-lg-stretch { align-self: stretch; } }
@media (min-width: 1200px) { .flex-xl-row { flex-direction: row; }
  .flex-xl-column { flex-direction: column; }
  .flex-xl-row-reverse { flex-direction: row-reverse; }
  .flex-xl-column-reverse { flex-direction: column-reverse; }
  .flex-xl-wrap { flex-wrap: wrap; }
  .flex-xl-nowrap { flex-wrap: nowrap; }
  .flex-xl-wrap-reverse { flex-wrap: wrap-reverse; }
  .flex-xl-fill { flex: 1 1 auto; }
  .flex-xl-grow-0 { flex-grow: 0; }
  .flex-xl-grow-1 { flex-grow: 1; }
  .flex-xl-shrink-0 { flex-shrink: 0; }
  .flex-xl-shrink-1 { flex-shrink: 1; }
  .justify-content-xl-start { justify-content: flex-start; }
  .justify-content-xl-end { justify-content: flex-end; }
  .justify-content-xl-center { justify-content: center; }
  .justify-content-xl-between { justify-content: space-between; }
  .justify-content-xl-around { justify-content: space-around; }
  .align-items-xl-start { align-items: flex-start; }
  .align-items-xl-end { align-items: flex-end; }
  .align-items-xl-center { align-items: center; }
  .align-items-xl-baseline { align-items: baseline; }
  .align-items-xl-stretch { align-items: stretch; }
  .align-content-xl-start { align-content: flex-start; }
  .align-content-xl-end { align-content: flex-end; }
  .align-content-xl-center { align-content: center; }
  .align-content-xl-between { align-content: space-between; }
  .align-content-xl-around { align-content: space-around; }
  .align-content-xl-stretch { align-content: stretch; }
  .align-self-xl-auto { align-self: auto; }
  .align-self-xl-start { align-self: flex-start; }
  .align-self-xl-end { align-self: flex-end; }
  .align-self-xl-center { align-self: center; }
  .align-self-xl-baseline { align-self: baseline; }
  .align-self-xl-stretch { align-self: stretch; } 
}
.mx-2{
  margin-left: 12px;
  margin-right: 12px;
}
.mx-1{
  margin-left: 5px;
  margin-right: 5px;
}
.text-center{
  text-align: center;
}
.gutters-10 .row{ margin-right: -5px; margin-left: -5px; }
.gutters-10  .col, .gutters-10  [class*="col-"] { padding-right: 5px; padding-left: 5px; }


.modal-open { overflow: hidden; }
.modal-open .modal { overflow-x: hidden; overflow-y: auto; }
.modal { position: fixed; top: 0; left: 0; z-index: 1050; display: none; width: 100%; height: 100%; overflow: hidden; outline: 0; }
.modal-dialog { position: relative; width: auto; margin: 0.5rem; pointer-events: none; }
.modal.fade .modal-dialog { transition: transform 0.3s ease-out; transform: translate(0, -50px); }
@media (prefers-reduced-motion: reduce) { .modal.fade .modal-dialog { transition: none; } }
.modal.show .modal-dialog { transform: none; }
.modal.modal-static .modal-dialog { transform: scale(1.02); }
.modal-dialog-scrollable { display: flex; max-height: calc(100% - 1rem); }
.modal-dialog-scrollable .modal-content { max-height: calc(100vh - 1rem); overflow: hidden; }
.modal-dialog-scrollable .modal-header, .modal-dialog-scrollable .modal-footer { flex-shrink: 0; }
.modal-dialog-scrollable .modal-body { overflow-y: auto; }
.modal-dialog-centered { display: flex; align-items: center; min-height: calc(100% - 1rem); }
.modal-dialog-centered::before { display: block; height: calc(100vh - 1rem); height: min-content; content: ""; }
.modal-dialog-centered.modal-dialog-scrollable { flex-direction: column; justify-content: center; height: 100%; }
.modal-dialog-centered.modal-dialog-scrollable .modal-content { max-height: none; }
.modal-dialog-centered.modal-dialog-scrollable::before { content: none; }
.modal-content { position: relative; display: flex; flex-direction: column; width: 100%; pointer-events: auto; background-color: #fff; background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 0.3rem; outline: 0; }
.modal-backdrop { position: fixed; top: 0; left: 0; z-index: 1040; width: 100vw; height: 100vh; background-color: #000; }
.modal-backdrop.fade { opacity: 0; }
.modal-backdrop.show { opacity: 0.5; }
.modal-header { display: flex; align-items: flex-start; justify-content: space-between; padding: 1rem 1rem; border-bottom: 1px solid #dee2e6; border-top-left-radius: calc(0.3rem - 1px); border-top-right-radius: calc(0.3rem - 1px); }
.modal-header .close { 
  
}
.modal-title { margin-bottom: 0; line-height: 1.5; }
.modal-body { position: relative; flex: 1 1 auto; padding: 1rem; }
.modal-footer { display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-end; padding: 0.75rem; border-top: 1px solid #dee2e6; border-bottom-right-radius: calc(0.3rem - 1px); border-bottom-left-radius: calc(0.3rem - 1px); }
.modal-footer > * { margin: 0.25rem; }
.modal-scrollbar-measure { position: absolute; top: -9999px; width: 50px; height: 50px; overflow: scroll; }
@media (min-width: 576px) { .modal-dialog { max-width: 500px; margin: 1.75rem auto; }
  .modal-dialog-scrollable { max-height: calc(100% - 3.5rem); }
  .modal-dialog-scrollable .modal-content { max-height: calc(100vh - 3.5rem); }
  .modal-dialog-centered { min-height: calc(100% - 3.5rem); }
  .modal-dialog-centered::before { height: calc(100vh - 3.5rem); height: min-content; }
  .modal-sm { max-width: 300px; } }
@media (min-width: 992px) { .modal-lg, .modal-xl { max-width: 800px; } }
@media (min-width: 1200px) { .modal-xl { max-width: 1140px; } }