@font-face{font-family:'FontAwesome';src: font("fontawesome-webfont.eot?v=4.7.0");src:font("fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),font("fontawesome-webfont.woff2?v=4.7.0") format("woff2"),font("fontawesome-webfont.woff?v=4.7.0") format("woff"),font("fontawesome-webfont.ttf?v=4.7.0") format("truetype"),font("fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");font-weight:normal;font-style:normal}
@font-face {
	font-family: "utm-helvetin";
	src: font("UTM HelvetIns.ttf");
}
@font-face {
	font-family: "roboto-regular";
	src: font("Roboto-Regular.ttf");
}
@font-face {
	font-family: "roboto-black";
	src: font("Roboto-Black.ttf");
}
@font-face {
	font-family: "roboto-medium";
	src: font("Roboto-Medium.ttf");
}
@font-face {
	font-family: "roboto-bold";
	src: font("Roboto-Bold.ttf");
}
@font-face {
	font-family: "roboto-light";
	src: font("Roboto-Light.ttf");
}
@font-face {
	font-family: "robotoc-bold";
	src: font("RobotoCondensed-Bold.ttf");
}

@font-face {
	font-family: "muli-regular";
	src: font("Muli-Regular.ttf");
}

@font-face {
	font-family: "muli-black";
	src: font("Muli-Black.ttf");
}
@font-face {
	font-family: "muli-semibold";
	src: font("Muli-Black.ttf");
}
@font-face {
	font-family: "muli-medium";
	src: font("Muli-Medium.ttf");
}

@font-face {
	font-family: "muli-bold";
	src: font("Muli-Bold.ttf");
}
@font-face {
	font-family: "oswald-light";
	src: font("Oswald-Light.ttf");
}

@font-face {
	font-family: "oswald-bold";
	src: font("Oswald-Bold.ttf");
}
@font-face {
	font-family: "sfu-shadow";
	src: font("SFUSchadowBTBlackCondensed.TTF");
}
@font-face {
	font-family: "robotoc-regular";
	src: font("RobotoCondensed-Regular.ttf");
}
@font-face {
	font-family: "robotos-bold";
	src: font("RobotoSlab-Bold.ttf");
}

@font-face {
	font-family: "samsung";
	src: font("iCiel-SamsungSharpSans-Bold_SMCPS.ttf");
}