.mdw-copyright{
	position: relative;
	// background: #000 image("copyright-border-top.png") top repeat-x;
	background-color: #355079;
	color: #fff;
	font-size: 12px;
	font-family: Arial;
	a{
		color: #fff;
		font-weight: bold;
		font-size: 13px;
	}
	.box-flex.wrap{
		padding: 10px 0;
	}
}
.mdw-footer{
	background-color: #405f8f;
	font-size: 13px;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
}