#about-us{
	padding-top: 55px;
	padding-bottom: 55px;
}
.mbb{
	margin-bottom: 55px;
}


body:not(.index){
	#topbar{
		display: none;
	}
	#logo img{
		height: 60px;
	}
	#header{
		box-shadow: 1px 1px 5px 1px #ccc;
		margin-bottom: 50px;
	}
}
#mdw-newsletter{
	padding: 40px 0;
	background: image("bg_newsletter.jpg");
	background-size: cover;
	form{
		width: 100%;
		max-width: 615px;
		margin: 0 auto;
		text-align: center;
		input[type=email],input[type=text]{
			width: 100%;
			height: 55px;
			border-radius: 3px;
			margin-bottom: 20px;
			padding-left: 15px;
		}
		input[type=submit]{
			@extend %base-button-reverse;
			border-radius: 5px;
			
			width: 168px;
			height: 46px;
		}
	}
}

#mdw-minibox{
	padding: 40px 0;
	.newshome-scroll{
		overflow: hidden;
		height: 400px;
	}
	h2{
		font-family: muli-semibold;
		color: #0b1111;
		font-size: 28px;
		background: image("minibox-h2-bottom.png") bottom left no-repeat;
		padding-bottom: 30px;
		margin-bottom: 20px;
	}
	.minibox-news-item{
		padding: 5px;
		border: 1px solid #ddd;
		margin-bottom: 15px;
		.image{
			width: 235px;
		}
		.detail{
			flex: 1 0 0;
			margin-left: 15px;
			font-family: var(--font-regular);
			font-size: 14px;
			color: #3e3e3e;
			h3{
				font-family: var(--font-bold);
				font-size: 16px;
				color: #4a4848;
				margin-top: 5px;
			}
		}
		.mota{
			margin-bottom: 8px;
		}
		a.xemthem{
			color: #eca41a;
			font-size: 14px;
			font-family: var(--font-regular);
		}
	}
}
ul.uk-tab-label{
	display: flex;
	justify-content: center;
	flex-wrap:wrap;
	list-style-type: none;
	li{
		font-family: robotoc-bold;
		font-size: 15px;
		color: #f9a200;
		text-transform: uppercase;
		border: 2px solid #f9a200;
		margin: 10px 10px;
		a{
			padding: 10px 20px;
			display: block;
		}
		&.uk-active,&:hover{
			background-color: #f9a200;
			color: #fff;
		}
	}

}
#sliderindex_quangcao{
	margin-bottom: 30px;
}
.block-product-list{
	padding: 40px 0;
	&:nth-of-type(even){
		background-color: #fdf6e8;
	}
}
.btn-xemthem{
	@extend %base-button-reverse;
	padding: 10px 20px;
}
#product-moi{
	margin-bottom: 40px;
}
#index-tieuchi{
	padding: 20px 40px;
	background-color: #fbedd1;
}

.row-item.tieuchi{
	.image{
		width: 60px;
	}
	.detail{
		flex: 1 0 0;
		margin-left: 20px;
		font-family: var(--font-regular);
		font-size: 14px;
		color: #3e3e3e;
		h3{
			font-family: var(--font-bold);
			font-size: 16px;
			color: #4a4848;
		}
	}
	.mota{
		margin-bottom: 8px;
	}
	a.xemthem{
		color: #eca41a;
		font-size: 14px;
		font-family: var(--font-regular);
	}
}
#index-tieuchi{
	margin: 30px 0;
}