.fill { flex: 1 0 0; }
.invert { filter: brightness(0) invert(1); }
.inherit-text { color: inherit !important; font-family: inherit; font-size: inherit; line-height: inherit; text-decoration: none !important; }
.line-limit { overflow: hidden; text-overflow: ellipsis; white-space: normal; -webkit-box-orient: vertical; display: -webkit-box; }
.line-limit.to-2 { -webkit-line-clamp: 2; }
.line-limit.to-3 { -webkit-line-clamp: 3; }
.line-limit.to-4 { -webkit-line-clamp: 4; }
.line-limit.to-5 { -webkit-line-clamp: 5; }
/* Search */
.search{width: 267px;border: 1px solid #ccc;/* background:#fff; */border-radius: 30px;}
.search p{float:left;width: 35px;height: 35px;line-height: 35px;cursor:pointer;text-align:center;margin:0px;color: #fff;font-size: 14px;border-radius: 50%;position: relative;/* background-color: #df0000; */top: 4px;right: 6px;}
.search input{width:calc(100% - 35px);height: 42px;float:left;outline:none;padding:0px;border:0px;background:transparent;text-indent:10px;font-size:12px;}
.search input::-webkit-input-placeholder{color:#ccc;}
.search input:-moz-placeholder{color:#ccc;}
.search input::-moz-placeholder{color:#ccc;}
.search input:-ms-input-placeholder{color:#ccc;}

/* Menu RP */
.menu-res{display:none;height:55px;z-index:10;background:var(--color-red);position:relative;line-height:normal;}
.menu-bar-res{height:55px;padding:0px 10px;display:-webkit-flex;display:-moz-flex;display:-ms-flex;display:-o-flex;display:flex;align-items:center;justify-content:space-between;}
#menu{/* display:none; */}
#hamburger{display:block;width:45px;height:23px;position:relative;}
#hamburger:before,#hamburger:after,#hamburger span{background:#fff;content:'';display:block;width:100%;height:3px;position:absolute;left:0px;}
#hamburger:before{top:0px;}
#hamburger span{top:10px;}
#hamburger:after{top:20px;}
#hamburger:before,#hamburger:after,#hamburger span{-webkit-transition:none 0.5s ease 0.5s;transition:none 0.5s ease 0.5s;-webkit-transition-property:transform,top,bottom,left,opacity;transition-property:transform,top,bottom,left,opacity;}
.mm-wrapper_opening #hamburger:before,.mm-wrapper_opening #hamburger:after{top:10px;}
.mm-wrapper_opening #hamburger span{left:-50px;opacity:0;}
.mm-wrapper_opening #hamburger:before{transform:rotate(45deg);}
.mm-wrapper_opening #hamburger:after{transform:rotate(-45deg);}
.mm-menu_opened{display:block!important;}

/* Search RP */
.search-res{position:relative;}
.search-res .icon-search{width:40px;height:40px;cursor:pointer;text-align:center;line-height:42px;color: #666;font-size:17px;margin:0px;}
.search-res .icon-search.active{color:var(--color-red);background:#fff;border-radius:100%;}
.search-res .search-grid{position:absolute;top:50px;right:0px;width:0px;height:40px;overflow:hidden;background:#fff;border:1px solid var(--color-red);z-index:2;opacity:0;border-radius:25px;line-height:normal;}
.search-res .search-grid p{float:left;width:35px;height:38px;cursor:pointer;outline:none;border:none;margin:0px;font-size:17px;display:block;color:var(--color-red);line-height:40px;text-align:center;}
.search-res .search-grid input{width:calc(100% - 35px);float:right;line-height:38px;outline:none;border:none;color:var(--color-red);}
.search-res .search-grid input::-webkit-input-placeholder{color:#ccc;}
.search-res .search-grid input:-moz-placeholder{color:#ccc;}
.search-res .search-grid input::-moz-placeholder{color:#ccc;}
.search-res .search-grid input:-ms-input-placeholder{color:#ccc;}
.scrollToTop{
	width:41px;height:41px;
	text-align:center;
	font-weight:bold;color:#444;
	text-decoration:none;
	position:fixed;
	bottom:55px;
	right:15px;
	display:none;
	z-index:10;
	cursor:pointer;
}
.icon-size { width: 40px; height: 40px; display: flex; justify-content: center; align-items: center; }
.icon.icon-size:before { color: $theme-color; }
.right-fix-btn { font-size: 20px; width: 40px; height: 40px; color: $theme-color; border-radius: 50%; text-align: center; z-index: 99; -webkit-transition: all .3s ease-out 0s; -moz-transition: all .3s ease-out 0s; -ms-transition: all .3s ease-out 0s; -o-transition: all .3s ease-out 0s; transition: all .3s ease-out 0s; box-shadow: 0px 0px 5px 5px #e8f4ff; background-color: #fff; }
.right_fix { bottom: 100px; right: 15px; z-index: 999999999; position: fixed; }
.btn-fixed { position: relative; width: 40px; height: 40px; margin-bottom: 30px; cursor: pointer; display: flex; align-items: center; justify-content: center; }
.ictbtn { text-decoration: none !important; }
.ictbtn .icon:before { font-size: 20px; }
.ictbtn i{
	color: $theme-color;
}
.ictbtn span.wrapper { display: flex; align-items: center; width: 40px; height: 40px; border-radius: 50%; background: $theme-color !important; position: relative; justify-content: center; }
.ictbtn span.wrapper img { vertical-align: middle; position: absolute; top: 0; left: 0; filter: invert(1) opacity(1); }
.ictbtn span.wrapper .content { width: 30px; height: 30px; display: flex; justify-content: center; align-items: center; border-radius: 50%; }
.ictbtn span.wrapper .content.bg { background-color: #fff; }
.chat-facebook-fill { width: 60px; height: 60px; top: -10px; position: absolute; -webkit-transition: all .2s ease-in-out; -moz-transition: all .2s ease-in-out; -ms-transition: all .2s ease-in-out; -o-transition: all .2s ease-in-out; transition: all .2s ease-in-out; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 2px solid transparent; -webkit-transition: all .5s; -moz-transition: all .5s; -o-transition: all .5s; transition: all .5s; background-color: rgba($theme-color, 0.3); opacity: .75; right: -10px; }
.chat-facebook { width: 50px; height: 50px; top: -5px; right: -5px; position: absolute; background-color: transparent; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; border: 2px solid rgba($theme-color, 0.26); opacity: .1; border-color: #fff; opacity: .5; }
.rp-label { display: none !important; }
@-webkit-keyframes zoomIn { from { opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }
@keyframes zoomIn { from { opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% { opacity: 1; } }
.zoomIn { -webkit-animation-name: zoomIn; animation-name: zoomIn; }
@-webkit-keyframes pulse { from { -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to { -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
@keyframes pulse { from { -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  50% { -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05); }
  to { -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
.pulse { -webkit-animation-name: pulse; animation-name: pulse; }
.animated { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }
.animated.infinite { -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; }
.animated.delay-1s { -webkit-animation-delay: 1s; animation-delay: 1s; }
.animated.delay-2s { -webkit-animation-delay: 2s; animation-delay: 2s; }
.animated.delay-3s { -webkit-animation-delay: 3s; animation-delay: 3s; }
.animated.delay-4s { -webkit-animation-delay: 4s; animation-delay: 4s; }
.animated.delay-5s { -webkit-animation-delay: 5s; animation-delay: 5s; }
.animated.fast { -webkit-animation-duration: 800ms; animation-duration: 800ms; }
.animated.faster { -webkit-animation-duration: 500ms; animation-duration: 500ms; }
.animated.slow { -webkit-animation-duration: 2s; animation-duration: 2s; }
.animated.slower { -webkit-animation-duration: 3s; animation-duration: 3s; }
.back-to-top { width: 40px; height: 40px; }
.back-to-top svg { width: 40px; height: 40px; }
.back-to-top .icon { justify-content: center; }
.back-to-top .icon:before { color: #fff; font-size: 16px; }
.back-to-top { display: none; position: fixed; right: 20px; bottom: 75px; }
#khungchatn { position: fixed; width: 300px; height: 350px; top: 0; bottom: 0; right: 80px; margin: auto; z-index: 999999; background: #fff; border-radius: 10px; overflow: hidden; display: none; }
.count-cart{
	    width: 25px;
    height: 25px;
    position: absolute;
    top: -8px;
    right: -8px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
}
iframe{
	width: 100%;
	max-width: 100%;
}

.content-table {
    display: table;
    width: 100%;
}

.row-order-item.header {
    background: #065d88;
    color: #fff;
}

.row-order-item {
    display: table-row;
}

.row-order-item span {
    display: table-cell;
    text-align: center;
    padding: 10px 3px; 
    &.title{
        text-align: left;
    }
}

.row-order-item:nth-child(even) {
    background-color: #f7f7f7;
}

.row-order-item:not(.header) {
    border-bottom: 1px solid #efefef;
}

.row-order-item:not(.header) .tinhtrang {
    font-family: var(--font-medium);
}

.d-hover{

    position: relative;
    transition: all 0.5s;
    h3{
        transition: all 0.5s;
    }
    &:hover{
        transition: all 0.5s;
        h3{
            transition: all 0.5s;
        }
    }
}