:root{--color-red:#ec2d3f;--color-medium-red:#cc2c32;--color-dark-red:#c31829;--color-green:#28a745;--color-dark-green:#207d36;--color-black:#212529;--color-gray:#6c757d;}
:root { --color-red: #ec2d3f; --color-medium-red: #cc2c32; --color-dark-red: #c31829; --color-green: #28a745; --color-dark-green: #207d36; --color-black: #212529; --color-gray: #6c757d; }
#popup-cart .modal-title { text-transform: uppercase; }
#popup-cart .modal-body .wrap-cart { padding: 0px; box-shadow: none; border: 0px; }
#popup-cart .modal-body .top-cart { width: 100%; border: 0px; padding: 0px; margin: 0px; }
#popup-cart .modal-footer { padding: 0.75rem 0 0 0; border-top: 0px; }
.buymore-cart { color: var(--color-red); cursor: pointer; margin: 0px; }
.buymore-cart i { margin-right: 2px; margin-top: 5px; vertical-align: top; font-size: 12px; }
.wrap-cart { padding: 20px 15px; background: #ffffff; border: 1px solid #d8d8d8; box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); }
.top-cart { width: 60%; border-right: 1px solid #eee; padding-right: 15px; margin-right: 15px; }
.procart { padding: 20px 10px; border: 1px solid #eee; border-top: 0px; }
.pic-procart { width: 20%; text-align: center; margin-right: 3%; }
.pic-procart img { max-width: 100%; max-height: 100px; }
.pic-procart .del-procart { color: #999; font-size: 12px; display: block; margin-top: 5px; cursor: pointer; }
.pic-procart .del-procart:hover { color: red; }
.pic-procart-rp { display: none; margin: 10px auto auto auto; width: 100%; max-width: 85px; }
.info-procart { width: 80%; margin-right: 3%; }
.name-procart a { font-size: 14px; color: #000; display: block; }
.name-procart a:hover { color: var(--color-red); }
.properties-procart { display: block; }
.properties-procart p { display: inline-block; margin-bottom: 0px; }
.properties-procart p:first-child { margin-right: 10px; }
.properties-procart p strong { font-weight: 600; }
.quantity-procart { width: 20%; margin-right: 3%; }
.quantity-procart p { margin-bottom: 0px; }
.quantity-counter-procart { border: 1px solid #dfdfdf; width: 100%; height: 30px; line-height: normal; text-align: center; border-radius: 3px; }
.quantity-counter-procart .quantity-procat { width: 40%; box-sizing: border-box; border: 0px; border-right: 1px solid #dfdfdf; border-left: 1px solid #dfdfdf; outline: none; box-shadow: none; padding: 0px; color: #333; text-align: center; }
.counter-procart { background-color: transparent; border: 0px; width: 30%; color: #333; outline: none; cursor: pointer; font-size: 23px; }
.counter-procart:hover { color: var(--color-red); }
.counter-procart:focus { color: var(--color-red); }
.counter-procart:disabled { color: #ccc; cursor: not-allowed; }
.counter-procart:disabled:hover { color: #ccc; cursor: not-allowed; }
.counter-procart-minus { line-height: 26px; }
.counter-procart-plus { line-height: 24px; }
.price-procart { width: 20%; text-align: right; }
.price-procart-rp { display: none; width: 100%; margin-bottom: 10px; font-size: 13.5px; }
.price-new-cart { color: var(--color-red); margin-bottom: 0px; }
.price-old-cart { color: #999; text-decoration: line-through; }
.procart-label { border: 0px; background: #eee; padding: 10px; margin: 0px; text-transform: capitalize; }
.procart-label .quantity-procart p:last-child { display: none; }
.money-procart { margin-top: 15px; }
.total-procart { background: #fbfbfb; padding: 7px 10px; border: 1px solid #dddfe2; margin-bottom: -1px; }
.total-procart p { margin-bottom: 0px; font-size: 15px; }
.total-procart p:last-child { color: var(--color-red); }
.bottom-cart { width: 40%; }
.section-cart { position: -webkit-sticky; position: sticky; top: 15px; }
.title-cart { font-size: 15px; text-transform: uppercase; color: var(--color-red); border-bottom: 1px solid #eee; padding-bottom: 5px; margin-bottom: 15px; font-family: "roboto-bold"; }
.information-cart { margin-bottom: 1.5rem; }
.input-cart { margin-bottom: 0.5rem; position: relative; }
.input-cart input { font-size: 14px; padding: 0.5rem 0.75rem; outline: none; height: auto; }
.input-cart textarea { font-size: 14px; padding: 0.5rem 0.75rem; outline: none; height: auto; resize: none; height: 100px; }
.input-cart select { cursor: pointer; font-size: 14px; padding: 0.5rem 1.75rem 0.5rem 0.75rem; height: auto; }
.input-double-cart { margin-bottom: 0.5rem; }
.input-double-cart .input-cart { width: 49%; float: left; margin-right: 2%; margin-bottom: 0px; }
.input-double-cart .input-cart:last-child { margin-right: 0px; }
.input-triple-cart { margin-bottom: 0.5rem; }
.input-triple-cart .input-cart { width: 32.65%; float: left; margin-right: 1%; margin-bottom: 0px; }
.input-triple-cart .input-cart:last-child { margin-right: 0px; }
.payments-cart { text-align: left; margin-bottom: 5px; min-height: auto; }
.payments-cart:last-child { margin-bottom: 0px; }
.payments-cart input { top: calc(50% - 1.25rem/2); }
.payments-label { cursor: pointer; background: #eee; display: block; padding: 10px 15px; border-radius: 3px; margin-bottom: 0px; color: #313131 !important; }
.payments-label::before { top: calc(50% - 1rem/2); }
.payments-label::after { top: calc(50% - 1rem/2); }
.payments-label.active { background: var(--color-red); color: #ffffff !important; }
.payments-info { opacity: 0; visibility: hidden; height: 0px; overflow: hidden; background: #f5efef; border-radius: 5px; }
.payments-info p { margin-bottom: 1em; }
.payments-info.active { padding: 10px 15px; margin-top: 5px; opacity: 1; visibility: visible; height: auto; }
.btn-cart { outline: none !important; box-shadow: none !important; border-color: transparent !important; font-size: 14px; text-transform: uppercase; background: #28a745; background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#28a745), to(#207d36)); background: -webkit-linear-gradient(top, #207d36, #28a745); background: -moz-linear-gradient(top, #207d36, #28a745); background: -ms-linear-gradient(top, #207d36, #28a745); background: -o-linear-gradient(top, #207d36, #28a745); }
.empty-cart { padding: 25px 30px; display: block; text-align: center; color: #23527c !important; width: 100%; }
.empty-cart i { color: red; font-size: 70px; }
.empty-cart p { margin: 15px 0px; color: #333; font-size: 18px; }
.empty-cart span { display: inline-block; border: 1px solid #2e9ef2; border-radius: 3px; padding: 10px; font-size: 16px; text-transform: uppercase; width: 100%; max-width: 325px; }
@media (max-width: 993px) { .wrap-cart { flex-wrap: wrap; }
  .top-cart { width: 100%; border-right: 0px; padding-right: 0px; margin-right: 0px; margin-bottom: 30px; }
  .bottom-cart { width: 100%; border-right: 0px; padding-right: 0px; margin-right: 0px; } }
@media (max-width: 769px) { .price-procart { display: none; }
  .procart-label .quantity-procart p:first-child { display: none; }
  .procart-label .quantity-procart p:last-child { display: block; }
  .price-procart-rp { display: block; }
  .quantity-procart { width: 25%; text-align: right; margin-right: 0px; }
  .info-procart { width: 65%; } }
@media (max-width: 441px) { .procart-label { font-size: 12px; }
  .pic-procart { display: none; }
  .pic-procart-rp { display: block; }
  .info-procart { width: 65%; margin-right: 5%; }
  .quantity-procart { width: 35%; }
  .input-double-cart { margin-bottom: 0px; }
  .input-double-cart .input-cart { width: 100%; float: none; margin: 0 0 0.5rem 0 !important; }
  .input-triple-cart { margin-bottom: 0px; }
  .input-triple-cart .input-cart { width: 100%; float: none; margin: 0 0 0.5rem 0 !important; }
 }

.ft-3 a{
	color: #fff;
	display: inline-block;
	margin-bottom: 20px;
}
.ft-3 a + a{
	margin-left: 15px;
}
.ft-3 a + a:before{
	content: "\\";
	display: inline-block;
	
}
.gutters-8 .row { margin-left: -4px; margin-right: -4px; }
.gutters-8 .container { padding-left: 4px; padding-right: 4px; }
.gutters-8 .container-fluid, .gutters-8 .container-xl { padding-left: 4px; padding-right: 4px; }
.gutters-8 [class*=col-], .gutters-8 .col { padding-left: 4px; padding-right: 4px; }
.mb-8 { margin-bottom: 8px; }
.mr-8 { margin-right: 8px; }
.ml-8 { margin-left: 8px; }
.gutters-10 .row { margin-left: -5px; margin-right: -5px; }
.gutters-10 .container { padding-left: 5px; padding-right: 5px; }
.gutters-10 .container-fluid, .gutters-10 .container-xl { padding-left: 5px; padding-right: 5px; }
.gutters-10 [class*=col-], .gutters-10 .col { padding-left: 5px; padding-right: 5px; }
.mb-10 { margin-bottom: 10px; }
.mr-10 { margin-right: 10px; }
.ml-10 { margin-left: 10px; }
.gutters-20 .row { margin-left: -10px; margin-right: -10px; }
.gutters-20 .container { padding-left: 10px; padding-right: 10px; }
.gutters-20 .container-fluid, .gutters-20 .container-xl { padding-left: 10px; padding-right: 10px; }
.gutters-20 [class*=col-], .gutters-20 .col { padding-left: 10px; padding-right: 10px; }

@font-face{font-family:'FontAwesome';src:url("../fonts/fontawesome-webfont.eot?v=4.7.0");src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");font-weight:normal;font-style:normal}
.icon { position: relative; }
.icon:before { font-family: "FontAwesome"; color: inherit; line-height: 1; }
.icon.area:before { content: "\f1fe "; }
.icon.user:before { content: "\f007 "; }
.icon.home:before { content: "\f015"; }
.icon.marker:before { content: "\f041"; }
.icon.email:before { content: "\f003"; }
.icon.hotline:before { content: "\f095 "; }
.icon.global:before { content: "\f0ac"; }
.icon.calendar:before { content: "\f073 "; }
.icon.star:before { content: "\f005"; }
.icon.view:before { content: "\f06e "; }
.icon.clock:before { content: "\f017"; }
.icon.price:before { content: "\f155 "; }
.icon.bar:before {content: "\f0c9 ";color: #fff;font-size: 32px;}
.icon.facebook:before { content: "\f230 "; }
.icon.comment:before { content: "\f086"; }
.icon.whatsapp:before { content: "\f232"; }
.icon.sms:before { content: "\f0e5"; }
.icon.cart:before { content: "\f07a "; }
.icon.up:before { content: "\f106  "; }
.icon.search:before { content: "\f002  "; }

#topbar {background: #fff;font-family: Arial;font-size: 14px;color: #333;/* background: linear-gradient( 
86deg
 , #f7ce60 0%, #c2953d 25%, #f7ce60 50%, #c2953d 75%, #f7ce60 100%); *//* padding: 5px; */border-bottom: 1px solid #ccc;}
#topbar .container {display: flex;justify-content: space-between;}
.topbar-left {/* background: #e6e6e6; */display: flex;justify-content: space-between;align-items: center;height: 37px;/* padding-left: 180px; */position: relative;color: #363636;font-family: 'bevietnam-regular';}
.topbar-right:before { content: url("../images/topright.jpg"); position: absolute; top: 0; left: 0; }
#header {/* background: url("../images/bg_header.jpg") right center no-repeat; */}
#logo {position: relative;/* height: 120px; */}
#header .container {display: flex;/* justify-content: space-between; */align-items: center;/* flex-wrap: wrap; */height: 100%;}
.addons-hotline {display: flex;align-items: center;color: #333;font-size: 18px;font-family: 'bevietnam-regular';line-height: 1.5;}
.addons-hotline .wrapper {flex: 1 0 0;margin-left: 10px;}
.addons-hotline .value {font-family: 'bevietnam-bold';font-size: 18px;color: #cb1e2a;line-height: 1;/* font-weight: bold; */}
.addons-email { color: #000000; }
.addons-hotline img{
	top:5px;
	position:relative;
}

.vertical-menu {width: 290px;position: relative;margin-right: -3px;}
.vertical-menu h2 {font-family: Arial;font-weight: 700;font-size: 18px;color: #061146;text-transform: uppercase;background: #fff;height: 45px;display: flex;align-items: center;/* padding-left: 20px; */margin-bottom: 0;cursor: pointer;justify-content: center;}
.vertical-menu h2 img { margin-right: 20px; }
.vertical-menu-content {position: absolute;background: #f2f2f2;top: 100%;left: 0;/* height: 400px; *//* border: 1px solid #ccc; */border-top: none;width: 100%;padding: 0 15px;overflow: auto;display: none;}
.menu-v {font-family: Arial;text-transform: uppercase;font-weight: 700;font-size: 15px;color: #3a3a3a;position: relative;padding-bottom: 3px;/* border-bottom: 1px dashed #fff; */}
.menu-v:before{
	content: "";
	width: 100%;
	height: 1px;
	background-color: #fff;
	display:block;
	box-shadow: 0 0 1px 1px #dadada;
	position: absolute;
	bottom: 0;
	left: 0;
}
.menu-v:hover {color: #009541;}
.menu-v a { display: block; padding: 10px 0; }
.menu-v a:before { content: url("../images/inav.png"); margin-right: 12px; position: relative; top: -1px; }
#timkiem_icon {/* display: none !important; */}
#timkiem_icon img {/* filter: brightness(0) invert(1); */}
.w290{
	width: 290px;
}
#sliderindex{
	/* width: calc(100% - 290px); */
	/* height: 400px; */
}
#header {/* height: 110px; */background: #fff;position: relative;z-index: 9;}
#logo {position: relative;/* width: 296px; *//* height: 110px; *//* text-align: center; */margin: 0 auto;}
#logo img {/* position: absolute; *//* top: 0; */}

/* PhÃ¢n Trang */
.pagination-home .pagination .page-item .page-link{color:#555555;font-size:.875rem;}
.pagination-home .pagination .page-item.active .page-link{color:#ffffff;background-color:#555555;border-color:#555555;}

/* PhÃ¢n Trang Ajax */
.pagination-ajax{text-align:center;}
.pagination-ajax a{display:inline-block;vertical-align:top;margin:0px 2px 3px 2px;color:#333;background:#eee;border:1px solid rgba(161,161,161,0.4);font-size:12px;cursor:pointer;padding:3px 10px 5px 10px;border-radius:2px;}
.pagination-ajax a.current,.pagination-ajax a:hover{background:var(--color-red);color:#fff;border-color:var(--color-red);}

/* Popup custom */
.modal-custom .modal-footer{padding:0.5rem;}
.modal-custom .modal-footer .btn{font-size:14px;}

.content-of-index-index{
	/* margin-top: 40px; */
}

#menu_responsive_btn{
	/* display: none; */
}
.d-remove ~ .vertical-menu-content{
	display: none;
}
.breadCrumbs {margin-bottom: 30px;}
.breadcrumb{
  color: #333;
}
.breadCrumbs { background-color: #eee; margin-top: 0 !important; padding: 10px 0; }
.breadCrumbs .breadcrumb { padding: 0; margin-bottom: 0; background-color: transparent; border-radius: 0; }
.breadCrumbs .breadcrumb-item a { color: var(--color-black); }
.breadCrumbs .breadcrumb-item.active a { color: var(--color-gray); }

.top-contact-left { width: 50%; padding-right: 20px; }
.top-contact-right { width: 50%; padding-left: 20px; }
.input-contact { position: relative; margin-bottom: 10px; }
.article-contact { width: 49%; }
.form-contact { width: 49%; }
.top-contact { display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 30px; }
.bottom-contact iframe{
	width: 100%;
}


/* BÃ i viáº¿t */
.news{width:49%;float:left;margin-bottom:25px;display:block;}
.news:nth-child(2n){float:right;}
.news:nth-child(2n+1){/* clear:both; */}
.pic-news{float:left;margin-right:4%;width:36%;}
.pic-news img{width:100%;}
.info-news{float:left;width:60%;}
.name-news{color:#333;font-size:16px;display:block;line-height:normal;margin-bottom:5px;}
.name-news:hover{color:var(--color-red);}
.time-news{color:var(--color-gray);margin-bottom:0.25rem;}
.desc-news{color:#333333;margin-top:5px;line-height:22px;font-size: 14px;}
.share{padding:17px 10px 10px 10px;line-height:normal;background:rgba(228,228,228,0.15);margin-top:15px;border-radius:5px;}
.share b{display:block;margin-bottom:5px;}
.othernews{margin-bottom:10px;margin-bottom: 30px;}
.list-news-other{padding-left:17px;list-style:square;}
.list-news-other li{margin-bottom:10px;}
.list-news-other li a{text-transform:none;color:#333333;}
.list-news-other li a:hover{color:var(--color-red);}
.tabs-pro-detail .ul-tabs-pro-detail{padding:0px;list-style:none;margin-bottom:1rem;border-bottom:1px solid #e7e7e7;}
.tabs-pro-detail .ul-tabs-pro-detail li{cursor:pointer;float:left;margin-right:5px;margin-bottom:5px;background:#eee;padding:5px 10px;}
.tabs-pro-detail .ul-tabs-pro-detail li.active{background:#333;color:#fafafa;}
.tabs-pro-detail .ul-tabs-pro-detail li:last-child{margin-right:0px;}
.tabs-pro-detail .content-tabs-pro-detail{display:none;}
.tabs-pro-detail .content-tabs-pro-detail.active{display:block;width: 100%;}
.tabs-pro-detail{
	width:100%;
	margin-top: 30px;
}
.social-plugin { display: flex; line-height: 1; }
.zalo-share-button { margin: 0 5px; }
#fanpage-facebook{
	overflow: hidden;
}
.listvideos{
	/* width: 160px; */
	/* height: 400px; */
	overflow: hidden;
}
.video-main{
	/* width: calc(100% - 170px); */
	/* height: 400px; */
}
.list_video_vertical{
	height: 400px;
}
.list_video_vertical .swiper-slide{
	height: calc(100% / 3 - 30px)!important;
	margin-bottom: 10px!important;
}
#menu_responsive:not(.mm-menu){
	display: none;
}
/* Responsive */



/* Sáº£n Pháº©m Detail */
.gallery-thumb-pro{
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 10px;
}
.gallery-thumb-pro .swiper-wrapper{
	justify-content:center;
}
.grid-pro-detail{margin-bottom:50px;max-width: 100%;overflow: hidden;display: flex;justify-content: space-between;flex-wrap: wrap;}
.left-pro-detail{position:relative;/* float:left; */width:40%;text-align:center;margin-right:2%;background:white;}
.left-pro-detail .MagicZoom{border:1px solid #eee;padding:7px;border-radius:5px;}
.right-pro-detail{width:calc(100% - 42%);/* float:left; */}
.gallery-thumb-pro{position:relative;margin-top:10px;}
.owl-thumb-pro{padding:0px 40px;}
.thumb-pro-detail{display:block!important;border:1px solid #eee;padding:5px;border-radius:3px;cursor:pointer;}
.thumb-pro-detail.mz-thumb.mz-thumb-selected{border-color:#cecfd2;}
.thumb-pro-detail img{box-shadow:none!important;filter:brightness(100%)!important;border-bottom:0px!important;padding-bottom:0px!important;}
.title-pro-detail{text-transform:capitalize;font-size:20px;display:block;font-weight:700;}
.social-plugin-pro-detail{margin-bottom:1rem;margin-top:0px!important;}
.desc-pro-detail{margin-bottom:1rem;}
.attr-pro-detail{list-style:none;padding:0px;}
.attr-pro-detail li{margin-bottom:0.5rem;}
.attr-label-pro-detail{margin:0px 5px 0px 0px;}
.attr-label-pro-detail.d-block{display:block;margin:0px 0px 5px 0px;}
.attr-content-pro-detail{display:inline-block;margin-bottom:0px;}
.price-new-pro-detail{font-weight:700;font-size:20px;color:var(--color-red);}
.price-old-pro-detail{font-weight:500;color:var(--color-gray);text-decoration:line-through;padding-left:10px;}
.color-pro-detail{display:inline-block;vertical-align:top;position:relative;width:35px;height:30px;margin:0px 0px 3px 0px;border:1px solid transparent;}
.size-pro-detail{border:1px solid #ccc;padding:3px 10px 4px 10px;display:inline-block;position:relative;}
.size-pro-detail.active,.color-pro-detail.active{border-color:#e5101d;color:#e5101d;}
.color-pro-detail.active:before,.size-pro-detail.active:before{content:'';position:absolute;width:100%;height:100%;top:0px;left:0px;bottom:0px;right:0px;margin:auto;z-index:1;background-image:url(../images/check-cart.png);background-repeat:no-repeat;background-position:bottom right;}
.color-pro-detail input[type=radio],.size-pro-detail input[type=radio]{outline:none;position:absolute;cursor:pointer;width:100%;height:100%;-webkit-appearance:none;border:0px;top:0px;left:0px;}
.quantity-pro-detail{width:100%;max-width:110px;line-height:normal;display:flex;align-items:center;justify-content:space-between;text-align:center;}
.quantity-pro-detail span{line-height:25px;padding:0px;width:30px;height:30px;color:#5f5f5f;cursor:pointer;font-size:22px;border:1px solid #cccccc;}
.quantity-pro-detail span.quantity-plus-pro-detail{border-left:0px;}
.quantity-pro-detail span.quantity-minus-pro-detail{border-right:0px;}
.quantity-pro-detail input{height:30px;border:1px solid #cccccc;width:calc(100% - 60px);text-align:center;font-size:14px;padding:5px;}
.cart-pro-detail{margin-bottom:1rem;display:flex;align-items:stretch;justify-content:flex-start;}
.cart-pro-detail a{width:auto;text-align:center;color:#fff;padding:8px 15px;text-transform:uppercase;border-radius:3px;cursor: pointer;}
.cart-pro-detail a.addnow{margin-right:10px;background:#fd6e1d;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fd6e1d),to(#f59000));background:-webkit-linear-gradient(top,#f59000,#fd6e1d);background:-moz-linear-gradient(top,#f59000,#fd6e1d);background:-ms-linear-gradient(top,#f59000,#fd6e1d);background:-o-linear-gradient(top,#f59000,#fd6e1d);display: none;}
.cart-pro-detail a.buynow{background-color:var(--color-green);}
.cart-pro-detail a.buynow:hover{background-color:var(--color-dark-green);}
.cart-pro-detail a i{vertical-align:top;margin-top:3px;margin-right:8px;}
.tags-pro-detail{margin:1rem 0px 2rem 0px;}
.tags-pro-detail a{float:left;font-size:12px;color:#fff;padding:5px 10px 7px 10px;margin-right:5px;margin-bottom:5px;background-color:var(--color-red);border-radius:3px;}
.tags-pro-detail a:hover{background-color:var(--color-medium-red);}
.tags-pro-detail a i{font-size:10px;float:left;margin:5px 5px 0px 0px;}

.title-product{
	/* font-family: 'bevietnam-medium'; */
	/* color: #1e1e1e; */
	/* font-size: 16px; */
	/* margin: 10px 0; */
	/* text-align: center; */
}
.product-item{
	/* padding: 15px; */
	/* background: #fff; */
	/* box-shadow: 0 0 1px 0 #e0a30a; */
}
.product-item .price{
	display: flex;
	justify-content: center;
	align-items:center;
}
.product-item__image{
	/* border: 1px solid #e0e0e0; */
	overflow: hidden;
	/* padding: 8px; */
}
.product-item .gia{
	font-family: bevietnam-bold;
	font-size: 16px;
	color: #000000;
}
.slice{
	position:relative;
	/* display:inline-block; */
	width: 2px;
	height: 100%;
	background: url(../images/slice.jpg);
}
#banner{
	/* width: 100%; */
	/* max-width: 630px; */
}
.search{
	position:relative;
	/* border: 6px solid #f4f4f4; */
	border-radius: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	position: relative;
	/* top: 4px; */
}
.btn-search-submit{
	position:absolute;
	right:2px;
	top:0;
	height: 100%;
	background: #12659a;
	border-radius: 45px;
	width: 100px;
	z-index:0;
	display:flex;
	align-items:center;
	justify-content:center;
	color: #fff;
	font-family: 'bevietnam-bold';
	cursor: pointer;
	z-index: 1;
}
#keyword{
	width: 100%;
	border: none;
	/* border-radius: 5px; */
	height: 36px;
	padding-left: 44px;
	outline: 0;
	position:relative;
	z-index:1;
	background: #fff;
	/* color: #fff; */
	/* font-family: 'bevietnam-bold'; */
}
#keyword ~ p{
	position:absolute;
	left: 4px;
	width: 32px;
	height: 32px;
	margin: 0;
	z-index: 1;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
}
.overlay-hover{
	position:relative;
}
.overlay-hover-item{
	position:absolute;
	top:0;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height: 100%;
	color: #fff;
	pointer-events: none;
	opacity:0;
	transition: all 0.3s;
	background: #0000005e;
}
.overlay-hover:hover .overlay-hover-item{
	opacity:1;
	transition: all 0.3s;
}
.default-hover:hover h3{
	color: #df0000!important;
	transition: all 0.3s;
}

.gioithieu-wrap{
	/* background: url("../images/frame.png") no-repeat; */
	background-size: contain;
	/* padding: 20px 0; */
	/* padding-left: 20px; */
	/* margin-bottom: 20px; */
	/* text-align: center; */
}
#index-index_product_list{
	padding: 40px 0;
}
.product-list-item .overlay-hover-item{
	opacity:1;
	background: url(../images/bg_h3_list.png) bottom no-repeat!important;
	background: 100%;
}
.product-list-item h3{
	color: #ffd200;
	font-family: "iciel-sambold";
}
.product-list-item .pcount{
	font-family: "iciel-sambold";
	font-size: 16px;
	font-weight: normal;
}
#index_video{
	background: url("../images/bg_video.jpg") no-repeat;
	background-size: 100% 550px;
	padding: 40px 0 0;
}
#index_video .title-main{
	color: #fff;
}
#index_video .title-bottom{
	    background: url(../images/h22.png);
}
#index_video .title-desc{
	color: #fff;
}

#body-wrapper:not(.index) #logo img{
	height: 100%;
}

