#newsletter{
	background: image("bg_newsletter.jpg");
	background-size:cover;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	form{
		width: calc(100% - 350px);
	}
	input{
		padding-left: 30px;
		height: 50px;
		margin-bottom: 8px;
	}
	textarea{
		height: 168px;
		padding-left: 20px;
		padding-top: 20px;
	}
	input[type=submit]{
		width: 100%;
		background-color: #034d92;
		color: #fff;
	}
	h2{
		font-family: utm-helvetin;
		color: #fff;
		font-size: 30px;
		text-transform: uppercase;
	}
	.desc{
		color: #fff;
		margin-bottom: 20px;
	}
}